<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Analisis</title>
</head>
<body>
    <div class="content-between bg-gray-100">    
        <div class="bg-gray-100 grid grid-cols-3 grid-rows-1 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="bg-white col-span-2 mt-10 mx-5 max-w-3xl">
                <div class="shadow-lg rounded-lg overflow-hidden">
                    <div class="text-center py-3 px-5 bg-gray-50">Barra de inversiones</div>
                    <canvas class="p-10" id="chartBar"></canvas>
                  </div>
                  
                  <!-- Required chart.js -->
                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                  
                  <!-- Chart bar -->
                  <script>
                    const labelsBarChart = [
                      "Penguin SRL",
                      "Bueno SA",
                      "Coompartido Sa",
                      "Indoque",
                      "Caco Laco",
                      "Wision",
                    ];
                    const dataBarChart = {
                      labels: labelsBarChart,
                      datasets: [
                        {
                          label: "Indice de aumento de valor",
                          backgroundColor: "hsl(252, 82.9%, 67.8%)",
                          borderColor: "hsl(252, 82.9%, 67.8%)",
                          data: [0, 10, 5, 2, 20, 30, 45],
                        },
                      ],
                    };
                  
                    const configBarChart = {
                      type: "bar",
                      data: dataBarChart,
                      options: {},
                    };
                  
                    var chartBar = new Chart(
                      document.getElementById("chartBar"),
                      configBarChart
                    );
                  </script>
            </div>

            
            <div class="bg-[#FFCD10] row-span-2 mx-auto m-8 p-8 max-w-3xl shadow-lg rounded-lg overflow-hidden">
                <div>
                    
                    <div class="mt-6 min-w-0 flex-1 sm:block 2xl">
                        <h1 class="truncate text-2xl font-bold text-gray-900">Correo: {{ client[2] }}</h1>
                    </div>

                    <div class="mt-6 min-w-0 flex-1 sm:block 2xl">
                        <h1 class="truncate text-xl text-gray-900">Meta: 1470000gs</h1>
                    </div>

                    <div class="mt-6 min-w-0 flex-1 sm:block 2xl">
                        <h1 class="truncate text-xl text-gray-900">Capital: {{ total }}gs</h1>
                    </div>

                    <div class="mt-6 min-w-0 flex-1 sm:block 2xl">
                        <h1 class="truncate text-xl text-gray-900">Te conviene invertir en Wision, <br> tiene 30% de probabilidades de subir <br> su valor</h1>
                    </div>

                    <div class="mt-6 min-w-0 flex-1 sm:block 2xl">
                        <h1 class="truncate text-xl text-gray-900">Capital: {{ total }}</h1>
                    </div>
                    
                    <div class="flex-1 mt-8 min-w-0 sm:block 2xl"></div>
                        
                    </div>
                </div>
            </div>

            <div class="p-8 col-span-2">
                <div class="mx-auto max-w-3x2 shadow-lg rounded-lg overflow-hidden">
                    <div class="bg-[#FFCD10]">
                        <div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
                            <div class="text-center">
                                <h2 class="text-lg font-semibold text-indigo-600">PAI</h2>
                                <p class="mt-1 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl">Invertir</p>
                                <p class="mx-auto mt-5 max-w-xl text-xl text-gray-500">Tendrias que estar ahorrando 122.500gs por 1 año para alcanzar 1.470.000gs para invertir</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        
    </div>
</body>
</html>



















































